@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: url("../../assets/Animated\ Shape.svg");
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    font-size: 30px;
    color: rgba(211, 142, 14, 0.874);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(4, 0fr);
    grid-row-gap: 20px;
    place-content: center;
    justify-content: center;
    grid-column-gap: 20px;
    background: #254075;
    width: fit-content;
    padding: 30px;
    perspective: 500px;
    border-radius: 10px;
    border: 3px solid rgba(211, 142, 14, 0.874);
}

.card {
    position: relative;
    height: 150px;
    border: 1px solid #5c73a2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out;
    perspective: 600px;
    background: #2f4c85;
}

.card.flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.front {
    background: #2f4c85;
    transform: rotateY(180deg);
}

.card img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}

.hide {
    scale: 0;
    pointer-events: none;
}

.win {
    height: 600px;
    width: 400px;
    display: grid;
    place-content: center;
    color: rgba(211, 142, 14, 0.874);
}

.win h1 {
    color: rgba(211, 142, 14, 0.874);
}

.restart {
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid rgba(211, 142, 14, 0.874);
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    color: rgba(211, 142, 14, 0.874);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.restart:hover {
    background: rgba(211, 142, 14, 0.874);
    color: #2a4074;
}

.home {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background: #344c83;
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(211, 142, 14, 0.874);
    font-weight: bold;
    font-size: 19px;
    border-radius: 100px;
    transition: opacity 200ms ease-in-out;
}

.home:hover {
    opacity: 0.7;
}

.score {
    color: rgba(211, 142, 14, 0.874);
    margin-top: 15px;
    font-size: 23px;
}